

.important {
  color: red;
  font-size: 16px;
}

.footer {
  float: bottom;
  text-decoration: blue;
}

.best {
  width: 25%;
  padding: 50px;
  border: cyan;
  border-width: 30px;
  background-color: pink;
  margin-bottom: 10px;
}