

.important {
  color: red;
  font-size: 16px;
}

.footer {
  float: bottom;
  text-decoration: blue;
}

.best {
  color:pink;
  width:50%;
  margin: 12px;
  border: 14px darkblue;
  padding: 4px blue;
  box-sizing: border-box;
}